<div>
  <p>Ask your coach anything you want:</p>
  <div class= "input-group mb-3">
    <form action="/answer" class="form-inline">
      <input type="text" name="question" placeholder="Whats would you like to ask?">
      <%# <input type="submit" value="Ask!" class="ask-button"> %>
      <button type="submit" class="btn btn-primary"> Ask!</button>
    </form>
  </div>
</div>

<%# <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">With textarea</span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div> %>

<%# <div>
  <p>Ask your coach anything you want:</p>

    <form action="/answer" class="form-inline">
      <input type="text" name="question" placeholder="Whats would you like to ask?">
      <%# <input type="submit" value="Ask!" class="ask-button"> %>
      <%# <button type="submit" class="btn btn-primary"> Ask!</button>
    </form>
</div> %>
